body {
    background-color:rgb(255, 234, 241);
    font-family: "Roboto", sans-serif;
}
h1, nav {
    color: rgb(110, 22, 53);
}
.pink {
    background-color:  rgb(253, 169, 197);
    color: rgb(110, 22, 53);
}
body p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
