body {
    background-color:sienna;
}
.recipe-content {
    background-color: #cccccc;
    width: 700px;
    padding: 10px;
    margin: auto;
}
h1,h2,h3 {
    color: sienna;
}
footer {
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    background-color: sienna;
    clear: both;
}